<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>component_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{376,256}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{376,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{372,226}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{372,226}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1324},{280,172}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,120},{280,172}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1006},{288,208}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,80},{288,208}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1050},{370,220}}</string>
                <key>offset</key>
                <string>{15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,80},{370,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1576},{230,166}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,31},{230,166}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1606},{264,194}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,4},{264,194}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1012},{310,202}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{310,202}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,314},{324,244}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,244}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{398,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>component_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{276,190}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{276,190}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>component_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1308},{266,144}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,108},{266,144}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1012},{294,172}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,102},{294,172}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,640},{296,192}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,84},{296,192}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{398,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,250}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{390,270}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{390,270}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,288}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{392,288}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,456},{360,178}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{360,178}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>component_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,254},{370,200}}</string>
                <key>offset</key>
                <string>{-14,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,87},{370,200}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>component_995.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1296},{230,166}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,31},{230,166}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_996.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1772},{264,198}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{264,198}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_997.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{310,210}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,4},{310,210}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_998.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{400,176}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{400,176}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>component_999.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1802},{262,190}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{262,190}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>donghan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,834},{314,170}}</string>
                <key>offset</key>
                <string>{-23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{314,170}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>donghan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,636},{338,180}}</string>
                <key>offset</key>
                <string>{-29,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{338,180}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>donghan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1422},{316,182}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{316,182}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>huangjin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1808},{252,134}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,35},{252,134}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>huangjin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1450},{320,158}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{320,158}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>huangjin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,818},{316,192}}</string>
                <key>offset</key>
                <string>{-40,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,192}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>out_flag_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1816},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1944},{32,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1772},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_blue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1528},{26,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_blue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1368},{26,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1528},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1994},{32,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1324},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_green_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1944},{26,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_green_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1994},{26,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_purple_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1324},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_purple_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1772},{32,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_purple_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1368},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_purple_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1576},{26,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_purple_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1772},{26,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1740},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1528},{32,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1740},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1422},{26,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1422},{26,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1740},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1324},{32,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1740},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_yellow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1422},{26,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>out_flag_yellow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,254},{26,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>component_outside.png</string>
            <key>size</key>
            <string>{1019,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0016bde75abc77845a3a5114402a6d0c:1/1$</string>
            <key>textureFileName</key>
            <string>component_outside.png</string>
        </dict>
    </dict>
</plist>
