<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{200,0},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hill3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,300}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hill4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,300}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hill5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{400,300},{200,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{600,300},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_hill3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,300}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{1000,300},{600,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_hill4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,300}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{600,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain_hill5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{600,600},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1000,600},{200,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1200,600},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_hill3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,300}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{600,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_hill4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,300}</string>
                <key>spriteSourceSize</key>
                <string>{600,300}</string>
                <key>textureRect</key>
                <string>{{600,900},{600,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_hill5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1200,900},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hill.png</string>
            <key>size</key>
            <string>{1800,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fe6ee5f4a7fb2338133a0b6be03666c:e280b4b0f648fb80c5de1dd51b7db7d2:01d1323f72b04814a1f06b3fa6e6a333$</string>
            <key>textureFileName</key>
            <string>hill.png</string>
        </dict>
    </dict>
</plist>
