<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>land_ground_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_ground_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_ground_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_ground_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_ground_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_ground_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_ground_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_ground_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>land.png</string>
            <key>size</key>
            <string>{1600,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaf89b9f331200ade1197c1baa43dd54:17a55a9fd36a91621ccff231f8fd693f:1cd11415f02e9bd35e91db85791c634d$</string>
            <key>textureFileName</key>
            <string>land.png</string>
        </dict>
    </dict>
</plist>
