<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_qibing_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{96,60}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{96,60}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,242},{96,56}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,37},{96,56}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{94,58}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{94,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{92,58}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,38},{92,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,814},{92,58}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{92,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{92,58}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{92,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,754},{92,58}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{92,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,504},{94,60}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{94,60}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,340},{94,58}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,37},{94,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,436},{94,60}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,36},{94,60}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{78,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{78,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1350},{80,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,33},{80,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{82,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{82,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,812},{82,64}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,33},{82,64}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1134},{82,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{82,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,968},{80,68}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,35},{80,68}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{80,70}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{80,70}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1282},{80,66}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{80,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{80,62}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{80,62}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_135_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1298},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{80,62}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{96,66}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{96,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,116},{96,70}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,25},{96,70}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,292},{94,74}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{94,74}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{92,74}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{92,74}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,604},{92,74}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{92,74}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{92,72}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{92,72}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,680},{92,72}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{92,72}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{94,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{94,72}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{94,68}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{94,68}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_180_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,368},{94,68}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{94,68}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,912},{66,88}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,12},{66,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,626},{62,90}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,10},{62,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{60,88}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{60,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,532},{60,92}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,9},{60,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{64,94}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,10},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{64,100}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,10},{64,100}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{64,98}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,9},{64,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,188},{64,96}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,10},{64,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,438},{64,94}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,10},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_225_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,718},{64,92}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,10},{64,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1362},{78,76}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1220},{80,76}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{80,76}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1050},{82,76}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,26},{82,76}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1062},{82,74}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{82,74}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{82,74}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{82,74}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{80,80}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{80,80}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{82,78}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{82,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,980},{80,84}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,25},{80,84}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1138},{80,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{80,80}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_315_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1202},{80,78}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{80,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1552},{66,62}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{66,62}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{62,58}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{62,58}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,180},{60,54}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,34},{60,54}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{60,60}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{60,60}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1622},{64,62}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{64,62}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1616},{64,64}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{64,64}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{64,66}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,35},{64,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,896},{64,70}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,33},{64,70}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1486},{64,68}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{64,68}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_45_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1516},{64,66}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{64,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{38,68}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,25},{38,68}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1582},{38,66}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,26},{38,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1620},{36,62}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,29},{36,62}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1552},{36,66}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,32},{36,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1478},{36,72}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,33},{36,72}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{38,74}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,33},{38,74}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1440},{36,76}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,30},{36,76}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1410},{36,76}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,30},{36,76}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{38,74}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{38,74}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>map_qibing_90_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1448},{36,72}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,26},{36,72}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{36,94}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,12},{36,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,566},{36,94}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,12},{36,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{36,92}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,11},{36,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,874},{36,92}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,11},{36,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,254},{36,96}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,10},{36,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,104}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,10},{38,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,40},{36,102}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,11},{36,102}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{36,102}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,10},{36,102}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,78},{36,100}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,11},{36,100}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>qibing_270_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{38,100}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{38,100}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_qibing.png</string>
            <key>size</key>
            <string>{256,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8df0259749dd8fe937cc3415db11a71:d5473faef1b7822a0c9b4ef1da2c22e2:4a807a08e71abe108f268d6f8665496e$</string>
            <key>textureFileName</key>
            <string>map_qibing.png</string>
        </dict>
    </dict>
</plist>
