<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>land_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{0,110},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{200,110},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{400,110},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{600,110},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{800,110},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{0,220},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{200,220},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{400,220},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{600,220},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{800,220},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{0,330},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{200,330},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{400,330},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{600,330},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{800,330},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{0,440},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{200,440},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{400,440},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{600,440},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sys_fortress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{800,440},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_res.png</string>
            <key>size</key>
            <string>{1000,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a27c62f2a9f37013a738e9b7bb4d7c76:b667db122c85015eb3d4c5ff0e124cc4:1f121d9c403c06e66c28518d14fbd284$</string>
            <key>textureFileName</key>
            <string>map_res.png</string>
        </dict>
    </dict>
</plist>
