<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sand_102_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{178,76}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{178,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_112_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{150,98}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,98}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{144,74}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,1},{144,74}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_122_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{150,92}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,8},{150,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{140,72}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,3},{140,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_131_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{206,198}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,2},{206,198}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>sand_132_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{328,124}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>sand_21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1356},{138,68}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{138,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{142,76}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{142,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_31_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{142,72}}</string>
                <key>offset</key>
                <string>{-21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{142,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{140,70}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{140,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{140,76}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,24},{140,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_42_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,152},{142,72}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{142,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1496},{136,70}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{136,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1250},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_53_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{130,76}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_61_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{146,76}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{146,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_62_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1148},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_63_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{148,76}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{148,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_71_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1780},{134,66}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{134,66}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_72_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1780},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_73_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1642},{136,76}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_81_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{150,76}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_82_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1046},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_83_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{148,72}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,3},{148,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_92_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{186,76}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{186,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sand_edge_3.png</string>
            <key>size</key>
            <string>{202,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c45b23c77c6b5559b64e1f876d69592b:1/1$</string>
            <key>textureFileName</key>
            <string>sand_edge_3.png</string>
        </dict>
    </dict>
</plist>
