<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sand_102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{178,76}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{178,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{150,98}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,98}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{144,74}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,1},{144,74}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_122_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{150,92}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,8},{150,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1254},{140,72}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,3},{140,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_131_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{206,198}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>sand_132_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{328,124}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>sand_21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,760},{138,68}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,25},{138,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{142,76}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{142,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_31_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1112},{140,72}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{140,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,618},{140,68}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{140,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_41_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,900},{140,76}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,24},{140,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_42_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,968},{142,72}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{142,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1232},{136,70}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{136,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1396},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_53_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{130,76}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_61_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{146,76}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{146,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_62_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1180},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_63_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,182},{148,76}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{148,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_71_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1370},{128,64}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{128,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_72_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,434},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_73_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1042},{136,76}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_81_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{150,76}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_82_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,332},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_83_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{148,72}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,3},{148,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>sand_92_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{186,76}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{186,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sand_edge_1.png</string>
            <key>size</key>
            <string>{254,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaa275c7c5ea27e1cd515e3705504f30:1/1$</string>
            <key>textureFileName</key>
            <string>sand_edge_1.png</string>
        </dict>
    </dict>
</plist>
