<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_102_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{188,76}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{188,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_112_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{150,96}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,970},{150,76}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_122_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{150,100}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,918},{146,76}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{146,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_131_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{206,198}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,1},{206,198}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>water_132_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{328,124}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>water_21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,768},{148,76}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{148,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{152,76}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{152,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_31_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,618},{148,72}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{148,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1358},{144,76}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,818},{150,76}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_42_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{150,76}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1212},{144,76}}</string>
                <key>offset</key>
                <string>{21,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{144,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,496},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_53_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,190},{136,74}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,74}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_61_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{144,74}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{144,74}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_62_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,394},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_63_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1066},{144,76}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{144,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_71_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1272},{148,76}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{148,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_72_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,292},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_73_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{150,76}}</string>
                <key>offset</key>
                <string>{-25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_81_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1122},{148,76}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{148,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_82_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,190},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{100,50}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_83_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{150,76}}</string>
                <key>offset</key>
                <string>{24,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{150,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>water_92_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{186,76}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{186,76}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>water_edge_3.png</string>
            <key>size</key>
            <string>{256,1504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2700363593369a61b3262709f85b2b00:1/1$</string>
            <key>textureFileName</key>
            <string>water_edge_3.png</string>
        </dict>
    </dict>
</plist>
