<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_food.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build_iron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{512,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{768,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>world_map_res.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a137c5984283a0676072d886bb165d9:633de956d5d7623beeaa3e9e97db910e:aca266806f2fc027358a0090417c378a$</string>
            <key>textureFileName</key>
            <string>world_map_res.png</string>
        </dict>
    </dict>
</plist>
