<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,254},{126,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>build_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{167,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,127}}</string>
                <key>sourceSize</key>
                <string>{167,127}</string>
            </dict>
            <key>build_foothold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>build_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,342},{156,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,139}}</string>
                <key>sourceSize</key>
                <string>{156,139}</string>
            </dict>
            <key>build_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,120},{184,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,132}}</string>
                <key>sourceSize</key>
                <string>{184,132}</string>
            </dict>
            <key>build_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{185,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,116}}</string>
                <key>sourceSize</key>
                <string>{185,116}</string>
            </dict>
            <key>main_city1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{203,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,196}}</string>
                <key>sourceSize</key>
                <string>{203,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>world_map_resources.png</string>
            <key>size</key>
            <string>{447,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99940abdd5f17968766d2b5fab2a1bd9:661210ad7dd9f1d5b80ed64fc4b82095:a7b8622f9d050f7f59c432f1f1bea1d6$</string>
            <key>textureFileName</key>
            <string>world_map_resources.png</string>
        </dict>
    </dict>
</plist>
