<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,184},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,184},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,368},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,368},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,552},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,552},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,736},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,736},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,920},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,920},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,1104},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,1104},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>world_map_build.png</string>
            <key>size</key>
            <string>{512,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaf3919e320b2b23b35f688ceedaef69:9d55836e7209e9bfc590e60e63738ac1:8d84aa815c1cd8788922dac625ef7bf1$</string>
            <key>textureFileName</key>
            <string>world_map_build.png</string>
        </dict>
    </dict>
</plist>
